@charset "utf-8"
.header
  background-color #ffffff
  position fixed
  top 0
  z-index 2000
  width 100%
  .head
    display flex
    align-items center
    justify-content space-between
    padding .2rem
    .zuo
      display flex
      i
        font-size .3rem
        color #000
    .imgbox
      width .95rem
      height .45rem
      img
        width .95rem
        height .45rem
    .you
      display flex
      align-items center
      i
        font-size .3rem
        color #505156
      .i-2
        margin-right .3rem


