@charset "utf-8"
.findmain
  //margin-top .95rem'
  display flex
  flex-direction column
#conten
  margin-top 1.55rem
.nav
  position fixed
  top .92rem
  width 100%
  padding .15rem
  background-color #ffffff
  border-bottom 1px solid #d6d6d6
  z-index 2000
  .nav-ss
    text-align center
    font-size .2rem
    color #727272
//margin-right .35rem
.nav .swiper-slide
  text-align center
.nav .active-nav
  color #fa201e
  font-size .22rem
  font-weight 900
.active
  position fixed
  top 0
  left 0
.bigmain
  width 100%
  padding .12rem
  .one
    width 100%
    padding .2rem
    background-color #ffffff
    margin-bottom .1rem
    .title
      display flex
      align-items center
      img
        width .6rem
        height .6rem
        margin-right .15rem
      .name
        h4
          font-size .2rem
          color #000000
        p
          font-size .15rem
          color #b1b1b1

    .intro
      font-size .15rem
      color #000
      line-height .35rem
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    .bigimg
      width 4.8rem
      height 2.05rem
      margin .15rem 0
    .read
      padding-top .2rem
      border-top 1px solid #979797
      display flex
      align-items center
      justify-content space-between
      span
        font-size .15rem
        color #979797
      i
        font-size .15rem
  .concern
    p
      font-size .2rem
      color #000
      line-height .75rem
    .bot
      display flex
      overflow-x scroll
      .bot-o
        margin-right .7rem
        display flex
        flex-direction column
        align-items center
        img
          width .95rem
          height .95rem
        h3
          font-size .17rem
          color #000
        p
          font-size .15rem
          color #979797
        .con
          width .85rem
          height .35rem
          background-color #f73b54
          color #ffffff
          font-size .15rem
          text-align center
          line-height .35rem
          border-radius .17rem
.bot::-webkit-scrollbar
  display none
