@charset "utf-8"

//search-box

$white-bg = #ffffff

.nav-box
  z-index: 2000;
  width: 100%;
  padding .1rem
  display flex
  position: fixed
  left 0
  top 0
  .circle
    width .55rem
    height .55rem
    border-radius 50%
    display flex
    flex-direction column
  .input-box
    margin 0 .17rem
    flex 1
    position relative
    .search
      width: 100%;
      height: 100%;
      font-size .15rem
      color #9f9f9f
      padding .12rem .17rem .12rem .6rem
      border-radius: .2rem;
    .bj-img
      min-width .2rem
      height 100%
      position absolute
      top 0
      display: flex
    .degree
      margin-left .15rem
      left 0
      i
        font-size .25rem
        color #9b9b9b
        margin auto
    .jd-cat
      margin-right .15rem
      right 0
      img
        width .25rem
        height .3rem
        margin auto

