@charset "utf-8"


$white-bg = #ffffff
$white-txt = #ffffff

$gray-tit = #737373
$right-gray-bg = #f5f5f5



.s-b
  background-color $white-bg
.quick
  background-color
  .q-top
    display flex
    margin-bottom .03rem
    .top-l
      padding .15rem
      .tit
        display flex
        margin-bottom .18rem
        h3
          font-size .2rem
      .list
        display flex
        justify-content space-around
        align-items center
        li
          img
            width .7rem
            height .7rem
            margin-bottom .15rem
          .bef-p
            line-height .15rem
            font-size .1rem
            color #000
            span
              font-size .15rem
          .now-p
            line-height .15rem
            font-size .07rem
            position relative
            .pri
              font-size .1rem
            .slid-c
              width 50%
              position absolute
              border-top 1px solid $gray-tit
              top .08rem
              left .16rem


.q-bot
  display flex
.sm
  width 50%
  margin-right .03rem
.smm
  width 25%
.every
  padding .15rem
  display flex
  flex-direction column
  margin-right .03rem
  h3
    line-height .3rem
    font-size .22rem
    background linear-gradient(to right, red, yellow)
    color transparent
    -webkit-background-clip text
  .one
    background linear-gradient(to right, #4ee9bf, #5cbfd6)
    color transparent
    -webkit-background-clip text
  .two
    background linear-gradient(to right, red, yellow)
    color transparent
    -webkit-background-clip text
  .three
    background linear-gradient(to right, #ea32a1, #f73445)
    color transparent
    -webkit-background-clip text
  .four
    background linear-gradient(to right, orange, red)
    color transparent
    -webkit-background-clip text
  h5
    line-height .2rem
    font-size .15rem
    color #000
    margin-bottom .15rem
  .big-img-box
    display flex
    justify-content space-around
    img
      width .75rem
      height .75rem

.n-b
  margin-right 0
