@charset "utf-8"
.school
  .big-title
    img
      width 100%
      height .6rem
  .row
    display flex
    margin-bottom .03rem
    .big-e
    .sm-e
      background-color #ffffff
      width 50%
      padding .15rem
      margin-right .03rem
      h3
        line-height .3rem
        font-size .22rem
        background linear-gradient(to right, red, yellow)
        color transparent
        -webkit-background-clip text
      h5
        line-height .2rem
        font-size .15rem
        color #000
        margin-bottom .15rem
      .big-img-box
        display flex
        justify-content space-around
        img
          width .75rem
          height .75rem


