@charset "utf-8"

//search-box

$white-bg = #ffffff
$white-txt = #ffffff

.sw-box
  width 100%
  height 100%
  img
    width 100%
    height 100%
  .swiper-pagination-bullet-active
    color $white-txt
    background  $white-txt!important
    width .52rem
    margin 0!important

  .swiper-pagination-bullet
    margin 0 5px
    margin-bottom .07rem!important
    border-radius .01rem
    text-align center
    line-height .04rem
    font-size 12px
    opacity 1
    height .04rem
    background-color: $white-txt
