@charset "utf-8"


.myhead
  width 100%
  background-color transparent
  position fixed
  left 0
  top 0
  display flex
  align-items center
  justify-content space-between
  padding .2rem
  img
    opacity 0
    width .4rem
    height .2rem
    border-radius 50%
  h3
    opacity 0
    font-size .2rem
    color #000
  .myyou
    display flex
    align-items center
    i
      font-size .3rem
      color #505156
    .i-s
      margin-right .3rem
.myactive
  background-color #ffffff!important

  img
    opacity 1!important
  h3
    opacity 1!important

