$gray-col = #8c8c8c
$white-col = #ffffff
.pro-header
  width 100%
  display flex
  justify-content space-between
  align-items center
  padding .2rem .15rem
  z-index 1000
  position fixed
  left 0
  top 0
  a
    width .45rem
    height .45rem
    border-radius 50%
    background-color $gray-col
    text-align center
    line-height .45rem
    color $white-col
    opacity .6
    display flex
    justify-content center
  .share
    display flex
    align-items center
    a
      width .45rem
      height .45rem
      border-radius 50%
      background-color $gray-col
      text-align center
      line-height .45rem
      color $white-col
      opacity .6
      display flex
      justify-content center
    .share-a
      margin-right .1rem
