$light-col = #ff6f70
.every-row
  background-color #ffffff
  margin-bottom .2rem
  padding 0 .16rem
  .row
    display flex
    justify-content space-between
    align-items center
    padding .16rem 0
    .big-p
      font-size .3rem
      font-weight 900
      color $light-col
    .tb
      display flex
      align-items center
      font-size .13rem
      color #000
      span
        display flex
        flex-direction column
        align-items center
        img
          width .27rem
          height .27rem
      span:nth-child(1)
        margin-right .1rem
  .big-tit
    font-size .2rem
    font-weight 900
    line-height .25rem
    color #000
  .sub-tit
    font-size .18rem
    line-height .3rem
    padding .2rem 0
    a
      color $light-col
      text-decoration underline
.every-row-two
  background-color #ffffff
  padding-left .16rem
  .row-1
    padding .2rem .16rem .2rem 0
    border-bottom 1px solid #e5e5e5
    display flex
    align-items center
    .name
      white-space nowrap
      font-size .15rem
      color #8c8c8c
      margin-right .2rem
    .right
      width 100%
      display flex
      justify-content space-between
      align-items center
      color #2d2d2d
      font-size .2rem
    .dp
      font-size .2rem
      color #000
