$gray-col = #8c8c8c
$white-col = #ffffff
.pro-footer
  display flex
  width 100%
  height .85rem
  background-color $white-col
  border-top 1px solid #e5e5e5
  .contact
    display flex
    flex 1
    align-items center
    justify-content space-around
    a
      display flex
      align-items center
      flex-direction column
      i
        font-size .3rem
        color #000
        display flex
      span
        font-size .13rem
        color $gray-col
  .now
    display flex
    .buy-b
      width 1.5rem
      line-height .75rem
      font-size .2rem
      color $white-col
      background-color red
      text-align center
    .buy
      background-color #ffad01
